*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.row{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.box{
    background-color: rgb(255, 215, 105);
    height: 100%;
    
    width: 100%;
}