*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 95%;
    margin: 1em auto;
    height: 100%;
}
.row{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.box{
    background-color: rgb(105, 224, 78);
    height: 100%;
    padding: 0.5rem;
    border: 2px solid black;
    text-align: center;
}